<div class="categories">
  <span class="label"><span class="en">Categories</span><span class="es">Categorías</span>:</span>
  <a href="#" class="new"><span class="en">Living people</span><span class="es">Personas vivas</span></a> ·
  <a href="#" class="new"><span class="en">1997 births</span><span class="es">Nacidos en 1997</span></a> ·
  <a href="#" class="new"><span class="en">Chilean data scientists</span><span class="es">Científicos de datos chilenos</span></a> ·
  <a href="#" class="new"><span class="en">Chilean software engineers</span><span class="es">Ingenieros de software chilenos</span></a> ·
  <a href="#" class="new"><span class="en">People from Santiago</span><span class="es">Personas de Santiago de Chile</span></a>
</div>
